*{
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 950px;
  border: 2px solid darkslategrey;
}

.main-title{
  color: white;
  background-color: darkslategrey;
  padding: 15px;
}
.search-box{
  max-width: 500px;
  padding: 10px;
  position: relative;
}
.search{
  display: flex;

}

.search-label{
  text-align: center;
  background-color: darkslategrey;
  color: white;
  padding: 15px;
  border: 1px solid darkslategrey;
  width: 50%;
  display: block;
}

.search-input{
  padding: 13px 30px 13px 10px;
  border: 1px solid darkslategrey;
  font-size: 18px;
  width: 50%;
  outline: none;

}

.shows-options{
  border: 1px solid darkslategrey;
  background-color: white;
  border-top: none;
  padding: 15px;
  position: absolute;
  top: 60px;
  left: 10px;
  width:96%;
}


.option a{
  text-decoration:  none;
  display: block;
  color: darkslategrey;
  padding: 5px;
}

.option a:hover{
  color: white;
  background-color: darkslategrey;
}